
#splashscreen{
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left bottom, #76278F, #2B1E66);
	background-size: cover;
}

#logo-white{
    width: 100%;
    height: auto;
    padding: 15em 0;
	align-content: center;
}

#home{
	background: url("https://media.giphy.com/media/a2QExYEHYCQJq/giphy.gif");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	
}
.bottom-align-text{
	margin-top: 80vh !important; 
	bottom: 1em;
}

.center{
	text-align: center;
}